<!-- The Modal -->
<div class="modal fade" id="dataHow">
    <div class="modal-dialog">
        <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Importar y usar datos</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <div class="alert alert-warning">
                <strong>Nota:</strong> La descarga en formato CSV está temporalmente deshabilitada debido a la migración del servidor. Por favor utiliza el formato JSON para importar los datos.
            </div>
            <p>
                Elije el sistema en el cuál deseas utilizar los datos para ver las instrucciones. Para metodología de investigación puedes consultar el <a href="https://www.quienesquien.wiki/manual" target="_blank">Manual para investigar contrataciones abiertas</a>.
            </p>
            <div id="accordion">
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
                        R (json)
                        </a>
                    </div>
                    <div id="collapseFour" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <p>

                            Agrega en tu código:
                            </p>
                        <code>

                        library(rjson) <br>
                        #Read JSON data into R {{title.full}} <br>
                        data &lt;- fromJSON(file="{{api_url}}")
                        </code>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseEight">
                        Python (json)
                        </a>
                    </div>
                    <div id="collapseEight" class="collapse" data-parent="#accordion">

                        <div class="card-body">
                                                        <p>

                            Agrega en tu código:
                            </p>
                        <code>
                        import json, urllib <br>

                        #Read JSON data into python {{title.full}} <br>
                        response = urllib2.urlopen('{{api_url}}')   <br>
                        data = json.loads(response.read())
                        </code>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseNine">
                        Python (pandas, json)
                        </a>
                    </div>
                    <div id="collapseNine" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                                                        <p>

                            Agrega en tu código:
                            </p>
                        <code>
                        import pandas as pd <br>

                        #Read JSON data into pandas {{title.full}} <br>
                        df = pd.read_json('{{api_url}}')
                        </code>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{_ "Cerrar" }}</button>
        </div>

        </div>
    </div>
</div>
