<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ or title.full title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
    <meta name="description" content="{{or title.full title}} {{_ "Explora conexiones y contratos entre empresarios, políticos, empresas e instituciones públicas. Esta herramienta facilita el acceso de investigadores, periodistas y ciudadanos a varias fuentes de datos abiertos para sumar a la transparencia y rendición de cuentas." }}"/>

    <meta property="og:title" content="{{or title.full title}} " />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{or title.full title}} {{_ "Explora conexiones y contratos entre empresarios, políticos, empresas e instituciones públicas. Esta herramienta facilita el acceso de investigadores, periodistas y ciudadanos a varias fuentes de datos abiertos para sumar a la transparencia y rendición de cuentas." }}" />
    <meta property="og:url" content="https://www.quienesquien.wiki{{share_url}}" />
    <meta property="og:image" content="https://www.quienesquien.wiki/images/qqw-card.png" />

    <link rel="canonical" content="https://www.quienesquien.wiki{{share_url}}" />
    <!-- For IE 11, Chrome, Firefox, Safari, Opera -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="application-name" content="QuienEsQuien.Wiki">
    <!-- Control the behavior of search engine crawling and indexing -->
    <meta name="robots" content="index,follow"><!-- All Search Engines -->
    <meta name="googlebot" content="index,follow"><!-- Google Specific -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' {{api_domain}} https://cerodesabasto.org/ manualinvestigarcontrataciones.readthedocs.io https://www.google-analytics.com https://*.googletagmanager.com; img-src poderlatam.org https://sociedad.info https://www.google-analytics.com https://www.googletagmanager.com https://*.googletagmanager.com https://www.google.com https://*.google.com https://*.google.com.mx https://pagead2.googlesyndication.com https://googleads.g.doubleclick.net https://*.doubleclick.net https://tpc.googlesyndication.com https://securepubads.g.doubleclick.net https://ep1.adtrafficquality.google.com https://ep1.adtrafficquality.google https://ep2.adtrafficquality.google.com https://ep2.adtrafficquality.google 'self'; font-src 'self'; style-src 'self' 'unsafe-inline'; connect-src https://sociedad.info https://www.google-analytics.com https://ssl.google-analytics.com https://analytics.google.com https://*.analytics.google.com https://www.googletagmanager.com https://*.googletagmanager.com https://stats.g.doubleclick.net https://*.doubleclick.net https://pagead2.googlesyndication.com https://googleads.g.doubleclick.net https://tpc.googlesyndication.com https://ep1.adtrafficquality.google.com https://ep1.adtrafficquality.google https://ep2.adtrafficquality.google.com https://ep2.adtrafficquality.google https://securepubads.g.doubleclick.net https://console.googletagservices.com https://fundingchoicesmessages.google.com https://www.google.com https://csi.gstatic.com {{api_domain}} https://cerodesabasto.org/ api.yeeko.org 'self'; script-src https://www.google-analytics.com https://www.googletagmanager.com https://*.googletagmanager.com https://ssl.google-analytics.com https://analytics.google.com https://pagead2.googlesyndication.com https://googleads.g.doubleclick.net https://stats.g.doubleclick.net https://cm.g.doubleclick.net https://ep1.adtrafficquality.google.com https://ep1.adtrafficquality.google https://ep2.adtrafficquality.google.com https://ep2.adtrafficquality.google https://securepubads.g.doubleclick.net https://console.googletagservices.com https://tpc.googlesyndication.com https://fundingchoicesmessages.google.com https://imasdk.googleapis.com https://www.googletagservices.com https://static.cloudflareinsights.com 'self' 'unsafe-inline' 'unsafe-eval'; frame-src https://googleads.g.doubleclick.net https://tpc.googlesyndication.com https://*.safeframe.googlesyndication.com https://securepubads.g.doubleclick.net https://ep1.adtrafficquality.google.com https://ep1.adtrafficquality.google https://ep2.adtrafficquality.google.com https://ep2.adtrafficquality.google https://www.google.com https://console.googletagservices.com https://cm.g.doubleclick.net https://www.googleadservices.com https://imasdk.googleapis.com 'self';">
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="preload" href="/fonts/fa/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin="true">
    <link rel="preload" href="/fonts/Montserrat/Montserrat-Regular.ttf" as="font" type="font/ttf" crossorigin="true">
    <link rel="dns-prefetch" href="https://www.poderlatam.org">
    <link rel="preconnect" href="https://pagead2.googlesyndication.com">
    <meta name="referrer" content="same-origin">
    <script type="text/javascript">
      const AUTOCOMPLETE_URL = "{{autocomplete_url}}";
    </script>

    {{#if (adsense_network_code)}}
      {{#unless home}}
      <!-- Google AdSense Auto Ads -->
      <!-- Note: When client parameter is in the script URL, Auto Ads is automatically enabled -->
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{adsense_network_code}}" crossorigin="anonymous"></script>
      {{/unless}}
    {{/if}}

  </head>
  <body class="{{#if home}}qqw-home{{/if}}" lang="{{lang}}" style="background-color: #F7F7F7;">
    {{> header-new}}
    {{> pitrack-banner}}

      {{{body}}}

    {{> footer-new}}

    <script src="/jQuery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/scrollspy.js"></script>
    <script src="/javascripts/typeahead.bundle.min.js"></script>
    <script src="/javascripts/main.js?v=3"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-N8DE0W26FL"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-N8DE0W26FL');
    </script>

    <script>
      window.PITRACK_URL = 'https://sociedad.info/track';
      function track(event, location, block, alternative, action, additionalData) {
        var trackingData = {
          event: event,
          location: location,
          block: block,
          alternative: alternative,
          action: action,
          sourceid: 'qqw-poppins',
          page: window.location.pathname,
          url: window.location.href,
          title: document.title,
          user_agent: navigator.userAgent,
          referrer: document.referrer,
          screen_resolution: screen.width + 'x' + screen.height,
          viewport: window.innerWidth + 'x' + window.innerHeight,
          timestamp: new Date().toISOString()
        };
        if (additionalData && typeof additionalData === 'object') {
          Object.assign(trackingData, additionalData);
        }
        fetch(window.PITRACK_URL, {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify(trackingData)
        }).catch(function() {});
      }
      track('page_view', 'layout', null, null, 'load');
    </script>

  </body>
</html>
