<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ or title.full title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
    <meta name="description" content="{{or title.full title}} {{_ "Explora conexiones y contratos entre empresarios, políticos, empresas e instituciones públicas. Esta herramienta facilita el acceso de investigadores, periodistas y ciudadanos a varias fuentes de datos abiertos para sumar a la transparencia y rendición de cuentas." }}"/>

    <meta property="og:title" content="{{or title.full title}} " />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{or title.full title}} {{_ "Explora conexiones y contratos entre empresarios, políticos, empresas e instituciones públicas. Esta herramienta facilita el acceso de investigadores, periodistas y ciudadanos a varias fuentes de datos abiertos para sumar a la transparencia y rendición de cuentas." }}" />
    <meta property="og:url" content="https://www.quienesquien.wiki{{share_url}}" />
    <meta property="og:image" content="https://www.quienesquien.wiki/images/qqw-card.png" />

    <link rel="canonical" content="https://www.quienesquien.wiki{{share_url}}" />
    <!-- For IE 11, Chrome, Firefox, Safari, Opera -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="application-name" content="QuienEsQuien.Wiki">
    <!-- Control the behavior of search engine crawling and indexing -->
    <meta name="robots" content="index,follow"><!-- All Search Engines -->
    <meta name="googlebot" content="index,follow"><!-- Google Specific -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://cdn.brevo.com https://sibautomation.com https://js.stripe.com https://static.hotjar.com/ https://script.hotjar.com/ https://www.googletagmanager.com https://www.google-analytics.com https://analytics.google.com/ https://pagead2.googlesyndication.com https://googleads.g.doubleclick.net https://stats.g.doubleclick.net https://cm.g.doubleclick.net https://ep1.adtrafficquality.google.com https://ep1.adtrafficquality.google https://fundingchoicesmessages.google.com https://ep2.adtrafficquality.google.com https://ep2.adtrafficquality.google https://securepubads.g.doubleclick.net https://console.googletagservices.com https://tpc.googlesyndication.com https://cdn.taboola.com http://cdn.taboola.com https://cdn.ad.plus http://vidstat.taboola.com https://bh.contextweb.com http://gum.criteo.com/ https://cdn.ampproject.org https://sync.taboola.com https://static.cloudflareinsights.com https://tg1.positive-ads.com https://player.positive-ads.com https://imasdk.googleapis.com https://config.aps.amazon-adsystem.com https://player.aniview.com https://ads.pubmatic.com https://client.aps.amazon-adsystem.com https://s0.2mdn.net https://www.googletagservices.com https://secure.cdn.fastclick.net https://tags.crwdcntrl.net https://cdn.hadronid.net https://cdn.id5-sync.com https://vpaid.doubleverify.com https://cdn.doubleverify.com https://statics.dmcdn.net https://rtb0.doubleverify.com https://tpsc-video-ue.doubleverify.com https://a.ad.gt https://cdn-ima.33across.com https://cdn.jsdelivr.net https://cdn.prod.uidapi.com https://connectid.analytics.yahoo.com https://invstatic101.creativecdn.com https://oa.openxcdn.net https://static.criteo.net https://conversations-widget.sendinblue.com https://conversations-widget.brevo.com; script-src-elem 'self' 'unsafe-inline' 'unsafe-eval' https://cdn.brevo.com https://sibautomation.com https://js.stripe.com https://static.hotjar.com/ https://script.hotjar.com/ https://www.googletagmanager.com https://www.google-analytics.com https://analytics.google.com/ https://pagead2.googlesyndication.com https://googleads.g.doubleclick.net https://stats.g.doubleclick.net https://cm.g.doubleclick.net https://ep1.adtrafficquality.google.com https://ep1.adtrafficquality.google https://fundingchoicesmessages.google.com https://ep2.adtrafficquality.google.com https://ep2.adtrafficquality.google https://securepubads.g.doubleclick.net https://console.googletagservices.com https://tpc.googlesyndication.com https://cdn.taboola.com http://cdn.taboola.com https://cdn.ad.plus http://vidstat.taboola.com https://bh.contextweb.com http://gum.criteo.com/ https://cdn.ampproject.org https://sync.taboola.com https://static.cloudflareinsights.com https://tg1.positive-ads.com https://player.positive-ads.com https://imasdk.googleapis.com https://config.aps.amazon-adsystem.com https://player.aniview.com https://ads.pubmatic.com https://client.aps.amazon-adsystem.com https://s0.2mdn.net https://www.googletagservices.com https://secure.cdn.fastclick.net https://tags.crwdcntrl.net https://cdn.hadronid.net https://cdn.id5-sync.com https://vpaid.doubleverify.com https://cdn.doubleverify.com https://statics.dmcdn.net https://rtb0.doubleverify.com https://tpsc-video-ue.doubleverify.com https://a.ad.gt https://cdn-ima.33across.com https://cdn.jsdelivr.net https://cdn.prod.uidapi.com https://connectid.analytics.yahoo.com https://invstatic101.creativecdn.com https://oa.openxcdn.net https://static.criteo.net https://cdn2.extremereach.io https://*.extremereach.io https://fw.adsafeprotected.com https://*.adsafeprotected.com https://conversations-widget.sendinblue.com https://conversations-widget.brevo.com; style-src 'self' 'unsafe-inline' https://www.googletagmanager.com/ https://fonts.googleapis.com; img-src 'self' data: https: http: http://images.taboola.com http://ch-vid-events.taboola.com http://ib.mookie1.com http://cdn.taboola.com https://pxl.connexity.net poderlatam.org https://sociedad.info; font-src 'self' data: https://fonts.gstatic.com; media-src 'self' data: https://videos.taboola.com http://vidstatb.taboola.com https://vidstatb.taboola.com https://gcdn.2mdn.net https://*.2mdn.net https://statics.dmcdn.net https://serving.stat-rock.com https://ad.plus; connect-src 'self' https://api.brevo.com https://sibautomation.com https://in-automate.brevo.com https://api.stripe.com https://vc.hotjar.io https://www.google.com wss://ws.hotjar.com https://content.hotjar.io https://csi.gstatic.com/ https://in.hotjar.com/ https://www.google-analytics.com https://analytics.google.com/ https://ep1.adtrafficquality.google.com https://ep1.adtrafficquality.google https://ep2.adtrafficquality.google https://pagead2.googlesyndication.com https://fundingchoicesmessages.google.com https://pagead2.googlesyndication.com/ https://stats.g.doubleclick.net https://www.googletagmanager.com https://securepubads.g.doubleclick.net https://console.googletagservices.com http://beacon.taboola.com http://trc.taboola.com http://ch-trc-events.taboola.com http://ch-vid-events.taboola.com https://cds.taboola.com https://cdn.taboola.com http://vidstat.taboola.com http://wf.taboola.com http://ch-wf.taboola.com https://la-trc-events.taboola.com https://la-vid-events.taboola.com https://la-wf.taboola.com https://prebid.a-mo.net https://bid.contextweb.com https://cdn.ampproject.org http://vidanalytics.taboola.com https://vidanalytics.taboola.com https://serving.stat-rock.com https://pxl.connexity.net https://go1.aniview.com https://player.aniview.com https://track1.aniview.com https://hbopenbid.pubmatic.com https://prebid-server.rubiconproject.com https://optimized-by.rubiconproject.com https://reachms.bfmio.com https://apex.go.sonobi.com https://prg.smartadserver.com https://servr.positive-ads.com https://ib.adnxs.com https://id5-sync.com https://lb.eu-1-id5-sync.com https://id.hadron.ad.gt https://pbs.aniview.com https://rtb.openx.net https://api.w.inmobi.com https://sync.inmobi.com https://aax.amazon-adsystem.com https://lexicon.33across.com https://rtb.aniview.com https://shb.richaudience.com https://fastlane.rubiconproject.com https://btlr.sharethrough.com https://track4.aniview.com https://c.amazon-adsystem.com https://prod.us-east-1.cxm-bcn.publisher-services.amazon.dev https://lbs.eu-1-id5-sync.com https://ene-debug-scripts.doubleverify.io https://bcp.crwdcntrl.net https://proc.ad.cpe.dotomi.com https://vtrk.dv.tech https://rtb0.doubleverify.com https://cebed.dailymotionbus.com https://rtbc-uw1.doubleverify.com https://cdn.doubleverify.com https://tpsc-ue1.doubleverify.com https://1x1.a-mo.net https://api.rlcdn.com https://id.rlcdn.com https://oajs.openx.net https://ups.analytics.yahoo.com https://cdn.jsdelivr.net https://sociedad.info {{api_domain}} https://cerodesabasto.org/ api.yeeko.org; frame-src data: 'self' https://js.stripe.com https://hooks.stripe.com https://googleads.g.doubleclick.net https://ep2.adtrafficquality.google.com https://ep2.adtrafficquality.google https://ep1.adtrafficquality.google https://www.google.com https://tpc.googlesyndication.com https://securepubads.g.doubleclick.net https://*.safeframe.googlesyndication.com https://console.googletagservices.com http://console.googletagservices.com http://imprchmp.taboola.com https://ch-match.taboola.com https://imprlatbmp.taboola.com https://la-match.taboola.com https://cdn.taboola-display.com https://pr-bh.ybp.yahoo.com https://*.yahoo.com https://cm.g.doubleclick.net https://www.googleadservices.com https://rtb.gamoshi.io https://pa.openx.net https://imasdk.googleapis.com https://aniview-d.openx.net https://sync.inmobi.com https://sync.richaudience.com https://secure-assets.rubiconproject.com https://eus.rubiconproject.com https://acdn.adnxs.com https://usw1-sync.a-mo.net https://sync.colossusssp.com https://ads.pubmatic.com https://servs.positive-ads.com https://prebid.a-mo.net https://s.amazon-adsystem.com https://use3-sync.a-mo.net https://onetag-sys.com https://secure.adnxs.com https://u.openx.net https://google-bidout-d.openx.net https://gum.criteo.com https://conversations-widget.brevo.com https://conversations-widget.sendinblue.com; img-src 'self' data: https: http: http://images.taboola.com http://ch-vid-events.taboola.com http://ib.mookie1.com http://cdn.taboola.com https://pxl.connexity.net; object-src 'none'; base-uri 'self' https://bor.aniview.com; form-action 'self';">
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="preload" href="/fonts/fa/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin="true">
    <link rel="preload" href="/fonts/Montserrat/Montserrat-Regular.ttf" as="font" type="font/ttf" crossorigin="true">
    <link rel="dns-prefetch" href="https://www.poderlatam.org">
    <link rel="preconnect" href="https://pagead2.googlesyndication.com">
    <meta name="referrer" content="same-origin">
    <script type="text/javascript">
      const AUTOCOMPLETE_URL = "{{autocomplete_url}}";
    </script>

    {{#if (adsense_network_code)}}
      {{#unless home}}
      <!-- Google AdSense Auto Ads -->
      <!-- Note: When client parameter is in the script URL, Auto Ads is automatically enabled -->
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{adsense_network_code}}" crossorigin="anonymous"></script>
      {{/unless}}
    {{/if}}

    {{#if (taboola_enabled)}}
    <link rel="preconnect" href="https://cdn.taboola.com">
    <script>
      window.TABOOLA_ENABLED = 'true';
      {{#if (taboola_publisher_id)}}window.TABOOLA_PUBLISHER_ID = '{{taboola_publisher_id}}';{{/if}}
    </script>
    <script defer src="/javascripts/taboola-init.js?v=1"></script>
    {{/if}}

  </head>
  <body class="{{#if home}}qqw-home{{/if}}" lang="{{lang}}" style="background-color: #F7F7F7;">
    {{> header-new}}
    {{> pitrack-banner}}

      {{{body}}}

    {{#if (adplus_enabled)}}
    <div class="advertising-section" id="adplus-advertising-section" style="display: none; margin-top: 2rem; padding: 1rem; border-top: 1px solid #e0e0e0;">
      <div class="advertising-label" style="font-size: 0.875rem; color: #666; margin-bottom: 0.5rem; text-align: center;">Publicidad</div>
      <script async src="https://cdn.ad.plus/player/adplus.js"></script>
      <script data-playerPro="current">
        (function(){
          var s = document.querySelector('script[data-playerPro="current"]');
          if (s) {
            s.removeAttribute("data-playerPro");
          }
          (window.playerPro = window.playerPro || []).push({
            id: "z2I717k6zq5b",
            after: s,
            appParams: {
              "C_NETWORK_CODE": "23310515798",
              "C_WEBSITE": "{{adplus_website}}"
            }
          });
        })();
      </script>
    </div>
    {{/if}}

    {{#if (taboola_enabled)}}
    <div class="advertising-section" id="taboola-advertising-section" style="display: none; margin-top: 2rem; padding: 1rem; border-top: 1px solid #e0e0e0;">
      <div class="advertising-label" style="font-size: 0.875rem; color: #666; margin-bottom: 0.5rem; text-align: center;">Publicidad</div>
      <div id="taboola-below-article-thumbnails" style="max-width: 500px; margin: 0 auto;"></div>
    </div>
    {{/if}}

    {{> footer-new}}

    <script src="/jQuery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/scrollspy.js"></script>
    <script src="/javascripts/typeahead.bundle.min.js"></script>
    <script src="/javascripts/main.js?v=4"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-N8DE0W26FL"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-N8DE0W26FL');
    </script>

    <script>
      window.PITRACK_URL = 'https://sociedad.info/track';
      function track(event, location, block, alternative, action, additionalData) {
        var trackingData = {
          event: event,
          location: location,
          block: block,
          alternative: alternative,
          action: action,
          sourceid: 'qqw-poppins',
          page: window.location.pathname,
          url: window.location.href,
          title: document.title,
          user_agent: navigator.userAgent,
          referrer: document.referrer,
          screen_resolution: screen.width + 'x' + screen.height,
          viewport: window.innerWidth + 'x' + window.innerHeight,
          timestamp: new Date().toISOString()
        };
        if (additionalData && typeof additionalData === 'object') {
          Object.assign(trackingData, additionalData);
        }
        fetch(window.PITRACK_URL, {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify(trackingData)
        }).catch(function() {});
      }
      track('page_view', 'layout', null, null, 'load');
    </script>

  </body>
</html>
